body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: block; /* Changed from flex to block */
}

#container {
    width: 80%;
    max-width: 600px; /* Adjust this as needed */
    margin: 0 auto; /* Centers the container */
    display: flex; /* Use flex here if you want to use flexbox properties */
    flex-direction: column;
    align-items: center; /* This will center the cards horizontally */
}

.card {
    width: calc(100% - 40px); /* Adjust width, considering padding */
    margin: 20px 0; /* Vertical margin, no horizontal margin */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.99s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden; /* Keeps content within the card /
    height: 300px; / Fixed height for square cards; adjust as needed */
    }
    
    /* Animation on scroll */
    .card.show {
    opacity: 1;
    transform: translateY(0);
    }
    
    @media only screen and (max-width: 600px) {
        #container {
        width: 95%; 
        }
        .card {
        width: calc(100% - 40px); 
        height: auto;
        margin-bottom: 20px; 
        }
        }