body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: blue;
}

#movingButton {
    position: absolute;
    left: 50px;
    top: 50px;
}

#profile {
    position: absolute;
    bottom: 6cm;
    left: 10px; 
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
#background{
    position: relative;
    background-image: url('images/background.jpg');
    width:100%;
    height: 300px;
    object-fit: cover;
}
#name {
    position: absolute;
    bottom: 4.8cm;
    left: 50px;
    color: #000;
}