body {
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers children horizontally in the container */
    justify-content: flex-start; /* Aligns children to the start of the container vertically */
    min-height: 100vh; /* Full height of the viewport */
    margin: 0; /* Removes default margin */
}
.container {
    display: flex;
}
#container {
    width: 80%;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.card {
    width: 35vw;  /* Width of the card */
    height: 30vw; /* Height of the card, set equal to the width for a square */
    margin: 20px auto; /* Centers the card with a margin */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.99s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: adds a subtle shadow */
    overflow: hidden; /* In case content exceeds the square area */
    /* Rest of your styles */
}

/* Animation on scroll */
.card.show {
    opacity: 1;
    transform: translateY(0);
}

@media only screen and (max-width: 600px) {
    .card {
        width: 80vw;
        height: 80vw; /* Adjust the size for smaller screens */
    }
}
